.workflow-container {
  padding: clamp(60px, 10vh, 100px) 0;
  background-color: #ececec;
  color: #fff;
  text-align: center;
}

.workflow-title {
  font-size: 2.5rem;
  color: #e65c00;
  margin-bottom: 40px;
}

.highlight {
  color: #56504b;
}

.workflow-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.workflow-card {
  background-color: #4d4c4c;
  border-radius: 15px;
  padding: 40px 30px;
  margin: 10px;
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  transition: transform 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.workflow-card:hover {
  transform: translateY(-5px);
}

.workflow-icon {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #e65c00;
}

.workflow-number {
  font-size: 3.5rem;
  color: #e65c00;
  margin-bottom: 10px;
  font-weight: bold;
}

.workflow-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.workflow-card p {
  font-size: 1rem;
  color: #aaa;
  margin-top: 10px;
}
